.planRecord {
    display: flex;
    width: 100%;
    border: 2px solid black; 
    box-sizing: border-box;
    height: 100%;
}

    .planRecord > p {
        margin: 0;
        padding: 10px 0 10px 10px;
    }

.container {
    display: flex;
    width: 100%;
    padding: 10px;
}

.vehicles-container {
    flex: 0 1 auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.routes-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route {
    display: flex;
    margin-bottom: 5px;
    padding: 4px;
    background-color: lightgray;
    box-sizing: border-box;
    justify-content: space-between;
}

.route > p {
        margin: 0;
        width: max-content;
}

.add-route{
    display: flex;
}
.vehicle {
    margin-bottom: 5px;
    padding: 4px;
    background-color: lightblue;
    box-sizing: border-box;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
}