.planner-container {
    padding: 1em;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker {
    display: flex;
    justify-content: center;
}

.date-header {
    background-color: #f2f2f2;
    min-width: 90px;
}
.table-container{
    overflow-x: auto;
    max-width:100%;
}
.plan-table {
    width:100%;
    height:100%;
    border-collapse: collapse;
}

.plan-table tr:nth-child(even) {
    background-color: #fafafa;
}

.plan-table th, .plan-table td {
    border: 1px solid #e0e0e0;
}

.sticky {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

.plan-table tr:nth-child(even) > td.weekend {
    background:  #e9f5e1;
}

.plan {
    height: 100%;
    min-width: 50px;
    border: 2px solid black;
}
.plan > .planRecord {
    border: unset;
}

.date-picker {
    display: flex;
    padding-bottom: 0.5em;
    max-width: 550px;
    width: 100%;
    justify-content: space-between;
}

    .date-pick-element.weekend > * {
        color: #646464;
        background-color: transparent;
    }

    .date-pick-element > .date {
        font-size: larger;
        border-radius: 50%;
        align-content: center;
        width: 33px;
        height: 30px;
        border: 1px solid transparent;
        background-color: transparent;
    }

    .date-pick-element > .current-date {
    background-color: black;
    color: white;
    border-radius: 50%;
    }

    .date-pick-element.weekend > .current-date {
        background-color: #646464;
    }

    .date-pick-element.weekend > .current-date.today {
        background-color: #f02c2c;
    }

    .today {
        color: #f02c2c;
    }

    .today.current-date {
        background-color: #f02c2c;
        color: white;
    }

    .date-pick-element >  .dayOfWeek {
        text-align: center;
        margin-bottom: 0.3em;
        font-size: small;
        font-weight: 650;
    }

.range-movement {
    display: flex;
    padding-bottom: 0.5em;
    width: 100%;
    max-width: 550px;
    justify-content: space-between;
}

.range-movement > *{
    font-size: large;
    background-color: transparent;
}

.range-control {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.control-day {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.month-label{
    font-size: larger;
}

.generate-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.generating-loading {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.generating-container {
    display: flex;
    justify-content: center;
    min-height: 50%;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    padding: 1em;
    box-sizing: border-box;
    flex-direction: column;
}

.no-routes {
    text-align: center;
    font-size: xx-large;
    color: darkred;
}