.daily-container {
    padding: 1em;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-container .plan-for-day {
    width: -webkit-fill-available;
}

@media screen and (min-width: 1440px) {
    .daily-container{
        padding-left: 10%;
        padding-right: 10%;
    }
}


/*Slider formatting*/
.switch {
    margin: 16px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    display: inline-block;
    width: 45px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

input:checked + .slider {
    background-color: #226c38;
}

input:checked + .slider::before {
    transform: translateX(21px);
}

.onlyWorking {
    display: flex;
    align-self: end;
    flex-direction: row;
    align-items: center;
}