.planRecord {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 2px solid black;
}

.planRecord > p {
    width: 7em;
    margin: 0;
    padding: 10px 0 10px 10px;
}

.container {
    flex-wrap: wrap;
    display: flex;
    padding: 0.4em;
    width: 100%;
    box-sizing: border-box;
    gap: 0.3em;
    align-content: center;
}
.plan > .planRecord > .editing{
    flex-wrap: nowrap;
}

.planned-items-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: 0.3em;
}

.route {
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 0.7em;
}

.priority-0 {
    background-color: #b0cf88;
}

.priority-1 {
    background-color: #ffecb8;
}

.priority-2 {
    background-color: #f7c297;
}

.priority-3 {
    background-color: #f6a6b2;
}

.identification > p {
        margin: 0;
        width: max-content;
}

.add{
    display: flex;
}

.vehicle {
    display: flex;
    padding: 4px;
    background-color: lightblue;
    box-sizing: border-box;
    justify-content: space-between;
}
.identification{
    width: max-content;
}
.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px 8px;
    margin-left: 7px;
    background-color: #eee;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #464343;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.workingButton {
    align-self: center;
    margin: 0.3em
}

.workingButton > button {
    margin: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    line-height: 1em;
    text-align: center;
    height: 1em;
    padding-bottom: 0.2em;
    font-size: x-large;
}

.negative{
    background-color: #9f1717;
    color: white;
}

.negative:disabled {
    background-color: transparent;
    color: #9f1717;
    border: 1px solid #9f1717;
    cursor: not-allowed;
}

.positive {
    background-color: #226c38;
    color: white;

}

.positive:disabled {
    background-color: transparent;
    color: #226c38;
    border: 1px solid #226c38;
    cursor: not-allowed;
}

button.delete-source {
    display: flex;
    line-height: 1em;
    text-align: center;
    padding-bottom: 0.2em;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
}
.edit {
    font-size: 1.2rem;
    margin-left: 0.1em;
    margin-right: 0.2em;
}

@media screen and (max-width: 560px) {
    .edit {
        font-size: 1.6rem;
    }
}
